@font-face {
    font-family: BlackMango;
    src: url(BlackMango-SemiBold.otf);
}

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply styles to the body */
body {
    font-family: BlackMango, serif;
    background-color: #faebd7;
    color: #faebd7;
}

/* Apply styles to the header */
header {
    background-color: #3a2a19;
    color: #faebd7;
    text-align: left;
    padding: 1em;
    font-size: 45px;
}

header button{
 margin-right: 30%;
 margin-left: -2%;
 border: #faebd7 1px solid;
 color: #faebd7;
 font-family: BlackMango, serif;
 font-size: 13px;

 background-color: #3a2a19;
 padding: 13px;  
}

/* Apply styles to the main content */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3a2a19;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Apply styles to the main image container */
.main-img {
    justify-content: center;
    display: flex;
    max-height: 450px;
    margin: 5% 5% 10 5%;

}

/* Apply styles to the main image */
.main-img img {
    width: 50%;
    border-radius: 8px;
    object-fit: cover;
    border-radius: 0%;
}

/* Apply styles to the paragraph in the main content */
.main-img p {
    font-size: auto;
    line-height: 1.6;
    color: #555;
    object-fit: cover;
    background-color: wheat;
    text-align: left;
    padding-left: 80px;
    padding-right: 200px;
    padding-top: 30px;
    word-wrap: break-word;
}

/* Apply styles to the additional images container */
.more-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Apply styles to the additional images */
.more-img img {
    max-width: 33%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}


/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
    
    .more-img {
        flex-direction: row;
        max-width: 100%;
    }
    
    .more-img img {
        width: 30%;
        object-fit: cover;
    }

    .main-img img {
        max-width: 100%;
        object-fit: cover;
        height: auto;
    }

    .main-img p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
    }

    header {
        line-height: 1.9;
        padding-top: 10px;
        font-size: 55px;
    }
}

#preloader{
    background: #000 url(images/Spinner-2s-200px.gif) no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
