

@font-face {
  font-family: BlackMango;
  src: url(BlackMango-SemiBold.otf);
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #3a2a19;

  }

  header{
    font-family: BlackMango, sans-serif;
    background-color: #3a2a19;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

header p{
    font-size: 65px;

}

header button{
    background-color: #3a2a19;
    color: #faebd7;
    border: 1px #faebd7 solid;
    padding:15px;
    max-height: 45px;
    margin-right: 85%;
    margin-bottom: 10%;
}

header button:hover{
    background-color: #faebd7;
    color: #3a2a19;
    border: 1px #faebd7 solid;
    padding:15px;
    max-height: 45px;
    margin-right: 85%;
}

hr{
  border: 1px #faebd7 solid;
  background-color: #faebd7;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

}

.gallery a {
  display: block;
  overflow: hidden;
  width: 58%;
  height: auto;
  border: 0; 
  justify-content: center;
  object-fit: cover;
}

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
  }


  .img-txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    padding: 15px 0px 15px 0px;
  }

  .txts-left{
    background-color: black;
    max-width: 39%; 
    object-fit: cover;
  }

  .txts-right{
    background-color: black;
    max-width: 39%;
    object-fit: cover;
  }

  .txts-left h2 {
    font-family: BlackMango, serif;
    font-size: 35px;
    padding: 5px;
    padding-left: 15px;
    color:#faebd7;
  }

  .txts-left p{
    font-family: 'EB Garamond', serif;
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
  }

  .txts-right h2 {
    font-family: BlackMango, serif;
    font-size: 35px;
    padding: 5px;
    padding-left: 15px;
    color:#faebd7
  }

  .txts-right p{
    font-family: 'EB Garamond', serif;
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }


  @media only screen and (max-width: 600px) {

    .img-txt{
      padding: 0;
      padding-bottom: 8px;
      margin: 0;
    }
    .txts-left{
      padding: 0;
      max-width: 39%;
      height: auto;
    }
    .txts-left h2{
      font-size: 20px;
    }
    .txts-left p{
      font-size: 15px;
    }
  
    .txts-right{
      padding: 0;
      max-width: 39%;
      height: auto;
    }
    .txts-right h2{
      font-size: 20px;
    }
    .txts-right p{
      font-size: 15px;
    }
    header button{
      margin-right: 75%;
    }
    header button:hover{
      margin-right: 75%;
    }
  }


#preloader{
  background: #000 url(images/Spinner-2s-200px.gif) no-repeat center;
  background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}