* {
  font-style: italic;
}

head, body {
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    color: palegoldenrod;
    margin: 0;
    padding: 0;
    background-color: #acb6aa;
  }

h1{
  text-decoration: underline;
}
  
  .gallery a {
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
    max-height: 450px;
    margin: 1px;
    border: 0; 
  }

  .gallery a:hover img {
    transform: scale(1.1);
  }

  .gallery a:hover::before {
    content: "Click para ver"; /* Your message goes here */
    transform: translate(-50%, -50%);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 10;
    position: absolute;
    
  }

  h1 {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    text-align: center;
    padding: 60px 30px 60px 30px;
    background-color: #acb6aa;
    color: palegoldenrod;
    margin: 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
  }
  
  .gallery img {

    width: 95%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }

  .img-txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    padding: 55px 5px 55px 150px;
  }

  .txts{
    font-family: 'EB Garamond', serif;
    background-color: #333;
    color: palegoldenrod;
    border-radius: 5px;
    max-width: 360px;
    max-height: 420px;
    border: 1px solid #333;
    margin-top: 30px;
  }

  .txts h2 {
    font-size: 40px;
  }

  .txts p{
    font-size: 25px;
  }


  @media only screen and (max-width: 600px) {
    .img-txt{
     max-width: 200px; 
    }
    
    .txts p{
      font-size: 12px;
    }
  
  }