* {
  font-style: italic;
}

head, body {
    color: palegoldenrod;
    margin: 0;
    padding: 0;
    background-color: #897650;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

h1 {
  font-family: 'Merriweather', serif;
  font-size: 70px;
  text-align: center;
  padding: 60px 30px 60px 30px;
  background-color: #897650;
  color: palegoldenrod;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  text-decoration: underline;
  border: 2px solid palegoldenrod;
}  


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    padding: 5px;
    width: 90%;
}

.gallery a {
  display: block;
  overflow: hidden;
  width: 55%;
  height: auto;
  margin: 1px;
  border: 0; 
  justify-content: center;
}

.gallery a:hover img {
  transform: scale(1.1);
}

.gallery a:hover::before {
  content: "Click para ver"; /* Your message goes here */
  transform: translate(-50%, -50%);
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
  pointer-events: none;
  z-index: 10;
  position: absolute;
  
}
  
  .gallery img {

    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    margin: 0px;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }

  .img-txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    padding: 55px 5px 55px 5px;
  }

  .txts-left{
    background-color: #333;
    border-radius: 5px 30px 5px 30px;
    max-width: 360px;
    max-height: 420px;
    margin-top: 30px;  
    margin-right: 3%;
  }

  .txts-right{
    background-color: #333;
    border-radius: 5px 30px 5px 30px;
    max-width: 360px;
    max-height: 420px;
    margin-top: 30px;  
    margin-left: 3%;
  }

  .txts-left h2 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    padding: 5px;
    padding-left: 15px;
    color:#a3ba9f
  }

  .txts-left p{
    font-family: 'EB Garamond', serif;
    color: palegoldenrod;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .txts-right h2 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    padding: 5px;
    padding-left: 15px;
    color:#a3ba9f
  }

  .txts-right p{
    font-family: 'EB Garamond', serif;
    color: palegoldenrod;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }


  @media only screen and (max-width: 600px) {
    .img-txt{
      padding: 0;
      padding-bottom: 3px;
      margin: 0;
    }
    .txts-left{
      padding: 0;
      margin: 5px;
      width: 40%;
      height: auto;
    }
    .txts-left h2{
      font-size: 20px;
    }
    .txts-left p{
      font-size: 15px;
    }
  
    .txts-right{
      padding: 0;
      margin: 5px;
      width: 40%;
      height: auto;
    }
    .txts-right h2{
      font-size: 20px;
    }
    .txts-right p{
      font-size: 15px;
    }
  }