* {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

@font-face {
    font-family: BlackMango;
    src: url(BlackMango-SemiBold.otf);
}


.main-header {
    magin: 0;
    padding: 0;
    height: 100vh;
    background-color: #BE8F6E;
    color: #EDE9E3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-name{
    font-size: 105px;
    line-height: 0;
    font-family: BlackMango, serif;
    text-shadow: 15px 3px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.main-title{
    font-size: 105px;
    line-height: 0;
    font-family: BlackMango, serif;
    text-shadow: 15px 3px 1px 1px rgba(0, 0, 0, 0.5);
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


.imagen-separador{
  background: url("images/port-arts.JPEG") center/cover;
  height: 110vh;
}

.artistic-port {
    background-color: #E7D7C9;
    height: 100vh;
    color: #241F19;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 1fr);
}

.artistic-port-cuadro{
  background-color: #EDE9E3;
  padding: 20px;
  grid-area: 2 / 5 / 10 / 10;
  margin-left: 10px;
  text-align: left;
}

.artistic-port-title{
    font-size:50px;
    margin-left: 5%;
    line-height: 0.9;
    font-family: BlackMango, serif;
    text-shadow: 15px 3px 1px 1px rgba(0, 0, 0, 0.5);
}

.artistic-port-text{
  text-align: left;
  padding: 48px;
  padding-right: 100px;
  font-size: 24px;
  line-height: 1;
  font-family: Merriweather, serif;
}

.artistic-port-btn{
  background-color: #87816E;
  color: #EDE9E3;
  font-size: 16px;
  padding: 18px;
  margin-left: 15px;
  margin-top: 55px;
  border: 0;
}

.artistic-port-img{
  background: url("images/sofi-torno.jpg") center/cover;
  grid-area: 2 / 2 / 10 / 5;
  margin-right: 10px
}

.prof-port {
  background-color: #E7D7C9;
  height: 100vh;
  color: #241F19;
  display: grid;
  grid-template-rows: repeat(10, 10vh);
  grid-template-columns: repeat(10, 1fr);
}

.prof-port-cuadro{
background-color: #be8f6e;
padding: 20px;
grid-area: 2 / 5 / 10 / 10;
margin-left: 10px;
text-align: left;
}

.prof-port-title{
  font-size:50px;
  margin-left: 5%;
  line-height: 0.9;
  font-family: BlackMango, serif;
  text-shadow: 15px 3px 1px 1px rgba(0, 0, 0, 0.5);
}

.prof-port-text{
text-align: left;
padding: 28px;
padding-right: 100px;
font-size: 24px;
line-height: 1;
font-family: Merriweather, serif;
}

.prof-port-btn{
background-color: #87816E;
color: #EDE9E3;
font-size: 16px;
padding: 18px;
margin-left: 15px;
margin-top: 15px;
border: 0;
}

.prof-port-img{
background: url("images/port-prof.JPG") center/cover;
grid-area: 2 / 2 / 10 / 5;
margin-right: 10px
}

.about-me {
    background-color: #E7D7C9;
    height: 100vh;
    color: #241F19;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 1fr)
}

.about-me-title{
    grid-area: 1 / 5 / 4 / 7;
    padding-top: 18%;
    padding-left: 18%;
    font-size: 70px;
    line-height: 1.1;
    font-family: BlackMango, serif;
    z-index: 1;
}

.about-me-text{
  grid-area: 4 / 6 / 8 / 10;
  font-size: 22px;
  font-family: Merriweather, serif;
  line-height: 1.2;
  padding-left: 5%;
  padding-top: 12%;
}

.about-me-img{
  grid-area: 2 / 2 / 10 / 6;
  background: url("images/s-lich.jpg") center/cover no-repeat;
}

.for-sale {
    background: url(images/for-sale-2.jpg ) center/cover;
    height: 720px;
    color: #00366f;
    padding: 20px;
}

.for-sale-title{

    padding-top: 22%;
    padding-left: 5%;
    font-size: 55px;
    line-height: 0.9;
    font-family: BlackMango, serif;
    text-shadow: 15px 3px 1px 1px rgba(0, 0, 0, 0.5);
}
body, html {
    margin: 0;
    padding: 0;
}

#preloader{
    background: #000 url(images/Spinner-2s-200px.gif) no-repeat center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


@media only screen and (max-width: 600px) {
    .section {
        height: auto;
        padding: 10px;
    }

    /* Adjust other styles as needed for mobile */
    .artistic-port-title, .prof-port-title, .for-sale-title {
        padding-top: 18%;
        padding-left: 2%;
        font-size: 50px;
    }
    .main-title {
        padding-top: 0;
        padding-left: 2%;
        font-size: 50px;
    }
    .main-name {
        padding-bottom: 0;
        padding-top: 4%;
        padding-left: 2%;
        font-size: 65px;
    }
    .arrow-right {
        margin-top: 50%;
    }
    
    .about-me-title{
      font-size: 40px;
      grid-area: 1 / 5 / 3 / 9
  }
    .about-me-img{
      grid-area: 2 / 2 / 6 / 9;
    }
    .about-me-text{
    font-size: 19px;
    grid-area: 6 / 2 / 9 / 9;
    padding-top: 8%;
  }
    .artistic-port-cuadro{
    grid-area: 6 / 2 / 11 / 10;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
  }

    .artistic-port-title{
    padding-top: 1px;
    margin-top: 0;
    font-size: 35px;
  }
    .artistic-port-text{
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
    .artistic-port-btn{
    font-size: 10px;
    margin-top: 20px;
  }
    .artistic-port-img{
    grid-area: 1 / 2 / 6 / 10;
    margin: 0;
    margin-top: 15px;
  }

  .prof-port-cuadro{
    grid-area: 6 / 2 / 11 / 10;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .prof-port-title{
    padding-top: 1px;
    margin-top: 0;
    font-size: 35px;
  }
  .prof-port-text{
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  .prof-port-btn{
    font-size: 10px;
    margin-top: 20px;
  }
  .prof-port-img{
    grid-area: 1 / 2 / 6 / 10;
    margin: 0;
    margin-top: 15px;
  }
  
  
  .imagen-separador{
    height: 40vh;

  }

}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    margin:0;
    padding: 0;
  }

  a:hover {
    color: #0650a0;
    cursor: pointer;
    margin:0;
    padding: 0;
  }


  hr{
    margin: 0;
    border: 1px solid black;
  }
