

@font-face {
  font-family: BlackMango;
  src: url(BlackMango-SemiBold.otf);
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #87816E;

  }

  header{
    font-family: BlackMango, sans-serif;
    background-color: #87816E;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

header p{
    font-size: 65px;

}

header button{
    background-color: #87816E;
    color: #faebd7;
    border: 1px #faebd7 solid;
    padding:15px;
    max-height: 45px;
    margin-right: 85%;
    margin-bottom: 10%;
}

header button:hover{
    background-color: #faebd7;
    color: #87816E;
    border: 1px #faebd7 solid;
    padding:15px;
    max-height: 45px;
    margin-right: 85%;
}

hr{
  border: 1px #faebd7 solid;
  background-color: #faebd7;
}

.matienzo{
  color: white;
  font-family: BlackMango, sans-serif;
  font-size: 45px;
  text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    
}

  .img-txt{
    width: 40%;
    height: 48vh;
    background-color: white;
    margin: 15px;
  }

  .present-cont{
    width: 40%;
    height: 48vh;
    background-color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .video-cont{
    width: 40%;
    height: 48vh;
    background-color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .img-cont{
    width: 40%;
    height: 48vh;
    background-color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .texto{
  color: black;
  max-width: 45%;
  text-align: center;
  background-color: wheat;
  height: 90%;
}
  .texto h2{
  padding-top: 15px;
}
  .texto p{
  font-size: 15px;
  padding: 25px;
}

  .banner{
    background: url(images/matienzo-portada.jpg) center/cover no-repeat; 
    width: 45%;
    height: 90%;
}
  video{
    max-width: 90%;
    height: 90%;
    object-fit: fill
}

  .img1{
    background: url(images/cartel-calle.jpg) center/cover no-repeat; 
    width: 45%;
    height: 90%;
    margin-right: 4px;
}

  .img2{
    background: url(images/cartel-ruta.jpg) center/cover no-repeat; 
    width: 45%;
    height: 90%;
    margin-left: 4px;
}

  .ind-img{
  background: url(images/cartel-alto.png) center/cover no-repeat;
  width: 90%;
  height: 90%;
}

  .ind-img-2{
  background: url(images/cartel-alto-2.png) center/cover no-repeat;
  width: 90%;
  height: 90%;
}

  @media only screen and (max-width: 600px) {

    .gallery{
    flex-direction: column;
  }

    .img-cont, .present-cont, .video-cont, .img-txt{
      padding-bottom: 8px;
      padding: 8px;
      width: 90%;
      height: 200px;
    }
    
    .texto p{
    padding: 0;
    margin: 0;
    font-size: 8px;
  }

    .banner{
    
  }

    header button{
      margin-right: 75%;
    }
    header button:hover{
      margin-right: 75%;
    }
  }


#preloader{
  background: #000 url(images/Spinner-2s-200px.gif) no-repeat center;
  background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
